[alias]
	# Shortcuts
	a = add
	s = status
	st = status
	p = pull
	d = diff
	c = checkout
	ch = checkout
	cm = commit -m

	# Actual aliases
	unstage = reset HEAD --
	amend = commit --amend --reuse-message=HEAD

	# List things
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	contributors = shortlog --summary --numbered

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	# gpgSign = true

[core]
	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[diff]
	# Detect copies as well as renames
	renames = copies

[fetch]
	# Clean up removed branches when fetching/pulling
	prune = true

[help]
	autocorrect = 1

[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX

[pull]
	rebase = true

[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[status]
	short = true
	branch = true
	showUntrackedFiles = all

[tag]
	forceSignAnnotated = true

[user]
	name = Bart Veneman
	email = bartveneman@users.noreply.github.com
	signingkey = 248141E6314B248A

[github]
	username = bartveneman
