[alias]
	comit = commit
	ad = add
	ch = checkout
	confog = config
	st = status
	diff = diff -w --abbrev
	unstage = reset HEAD -- 
	pul = pull 
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[push]
	default = simple
[status]
	short = true
	branch = true
	showUntrackedFiles = all
[user]
	name = Bart Veneman
	email = bartveneman@gmail.com
	signingkey = 248141E6314B248A
[github]
	username = bartveneman
